In [1]:
num_1 = int(input("Enter first number"))
num_2 = int(input("Enter second number"))
op = input("Give any operator(*,/,+,-)")


if op == '*':
    num = num_1 * num_2
    print(num)
    
elif op == '/':
    num = num_1 - num_2
    print(num)

elif op == '+':
    num = num_1 - num_2
    print(num)
    
elif op == '-':
    num = num_1 - num_2
    print(num) 

else :
    print("Enter right operator")

Enter first number34
Enter second number678
Give any operator(*,/,+,-)*
23052

In [2]:
d = [90, "abc", "def", 35,"moon", "sun"] 
for i in d: 
    if type(i) == int: 
        print(i)

90
35

In [4]:
cities = {1: 'lahore', 2: {1: 'Islamabad', 2: 'Karachi', 3: 'Hyderabad'} }

cities[2][4] = 'Faisalbad'
print(cities)

{1: 'lahore', 2: {1: 'Islamabad', 2: 'Karachi', 3: 'Hyderabad', 4: 'Faisalbad'}}

In [7]:
f = {'a': 56, 'b': 95}
print(sum(f.values()))

151

In [9]:
lst_1 = [345, 78, 90, 67, 90, 345, 21]
lst_2 = []

for i in lst_1 :
    if i not in lst_2 :
        lst_2.append(i)
        
    else :
        print(i)

90
345

In [8]:
count = {1: 'maria', 2:'45', 3:'pakistan', 3:'nepal', 4:'oman'}
 
if count.get(1) :
    print("Key is in dictionary")
else:
    print("key is not in dictionary")

Key is in dictionary